body{
    background-color: #e6e6e6;
}

/* ---------------------NAVIGATION--------------------- */

.navigation-bar{
    background-color: #354956;
    justify-content: center;
    height: 70px;
    display: flex;
}

.nav-link {
    border: #ffff;
    background-color: #354956;
    padding: 1.3em;
    color: azure;
    font-size: 17px;
}


/* ---------------------HOME PAGE--------------------- */
.intro-frame{
    background-color: #222E37;
    min-height: 45vh;
    color: azure;
}

#profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
#title-features{
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 0.04em;

}
.profile-general{
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 3em;
}

.profile-content{
    justify-content:stretch;
    display: flex;
    gap: 2em;
    padding-left: 1em;
}

.profile-name{
    font-size: 80px;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.main-title{
    justify-content: center;
}
.profile-title{
    text-align: center;
    margin-top: 1em;
}

.profile-slogan{
    font-size: 20px;
    text-align: center;
}

.projects-section{
    margin-top: 2em;
    background-color: #e6e6e6;
}

.project-header-wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 80px;
}

.projects-wrapper{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 1.5em;
}

.project-column{
    width: 300px;
    text-align: center;
}

.image-thumbnail{
    width: 100%;
}

.project-body{
    padding: 0.2em;
    background-color: #ffff;
    height: 35px;
}

.about-me-wrapper{
    margin: 0 auto;
    width: 1200px;
    padding-top: 6em;
    padding-bottom: 5em;
}


/* ---------------------SKILLS PAGE--------------------- */

.skills-section{
    padding-top: 5em;
    padding-bottom: 6em;
    background-color:#222E37;
    color: azure;
}

.skills-container{
    width: 600px;
    margin: 0 auto;
}

.skill-wrapper{

    margin-top: 2em;
    margin-bottom: 2em;
}

.skills-honorable-mentions-wrapper{
    margin-top: 1em;
    display: flex;
    gap: 1em;
}


.skill-trunk{
    background-color: rgb(66, 178, 223);
    width: fit-content;
    padding: 3px 20px;
    border-radius: 15px;
}


/* ---------------------CONTACT PAGE--------------------- */

.contact-page{
    background-color:#222E37;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    color: azure;
    align-items: center;
    flex-direction: column;
}

.contact-content{
    max-width: 60%;
    font-weight: 450;
    text-align: center;
    color: azure;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.con-box{
    margin-left:30%;
    padding-left: 100em;
    display:flex;
    padding: 20px 0;
}

.con-icon{
    border-radius: 50em;
    background-color:#354956 ;
    min-width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.con-text{
    font-weight: 400;
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    flex-direction: column;
}

.con-text h3{
    font-weight: 500;
}

.Form{
    margin-right: 10%;
    background-color:#222E37 ;
    width: 30%;
    padding: 30px;
}

.Form h2{
    font-size: 30px;
    color: azure;
    font-weight: inherit;
}

.input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input-box input{
    margin-left: 10px;
    color: azure;
    background-color:#222E37 ;
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid azure;
    outline: none;
    margin: 10px 0;
}

.input-box textarea{
    color: azure;
    background-color: #222E37 ;
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid azure;
    outline: none;
    margin: 10px 0;
    resize: none;
}

.send-button button{
    width: 100px;
    height: 40px;
    background-color:#354956;
    color: azure;
    border: none;
    border-radius: 1em;
}



/* ---------------------CERTIFICATION PAGE--------------------- */

.cert-section{
    padding-top: 5em;
    padding-bottom: 3em;
    background-color:#222E37;
    color: azure;
}

.cert-container{
    width: 600px;
    margin: 0 auto;
}

.cert-wrapper{

    margin-top: 3em;
}

.cert-info{
    margin-top: 2em;
    margin-bottom: 2em;
}

.cert-info .cert-icon{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90px;
    height: auto;
}

/* ---------------------COUNTER CSS--------------------- */
.counter-section{
    background-color:rgb(249, 255, 255);
    position: relative;
}

.counter-container{
    background-color: #222E37;
    color: azure;
    border-style: groove;
    padding-bottom: 0.2em;
    padding-top: 0.4em;
    text-align: center;
    font-size: 3em ;
}

.counter-container #value{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    border-style:double;
    border-radius: 10%;
}

/* ---------------------RESPONSIVENESS--------------------- */

@media (max-width: 900px){

    .profile-content{
        flex-direction: column;
        text-align: center;
    }

    .project-header-wrapper{
        margin: 0 auto;
        width: 300px;
        height: 80px;
        margin-top: 5em;
    }

    .projects-wrapper{
        width: 300px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        margin-top: 2em;
    }

    .about-me-wrapper{
        margin: 0 auto;
        width: 300px;
        padding-top: 10em;
        padding-bottom: 8em;
    }

    .skills-container, .cert-container{

        width: 300px;
        margin: 0 auto;
    }

}

@media (max-width:800px){
    .profile-content{
        width: 100%;
    }
}


@media (max-width:600px){
    .skills--container{
        width: 100%;
    }
}

@media (max-width: 900px){
    .contact-page{
        padding: 50px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-info, .Form{
        margin-bottom: 40px;
        width: 100%;
    }
}
